# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

SQL_SCHEMA.sql
STORAGE_SETUP.md
.gitignore
DEPLOYMENT_CHECKLIST.md
IMPLEMENTATION_TEST.md
TRIGGER_IMPLEMENTATION_EXPLANATION.md